.content {
  color: var(--Grey-Dark-800, #5c6672);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1px;
  margin-left: 28px;
  border: 1px;
  border: 2px solid transparent;
  font-weight: 600;
}

.divContent p {
  color: var(--Grey-Dark-800, #5c6672);
  font-family: Poppins;
  font-size: 12px;
  padding-bottom: 4px;
  font-weight: 400;
  letter-spacing: 0.1px;
}


@media screen and (max-width: 769px) {
    .content {
        font-size: 10px;
        letter-spacing: 0.1px;
        margin-left: 7px;
      }
      
      .divContent p {
        font-size: 10px;
        padding-bottom: 4px;
      }
}

@media screen and (max-width: 576px) {
    .content {
        font-size: 8px;
        letter-spacing: 0.1px;
        margin-left: 5px;
      }
      
      .divContent p {
        font-size: 8px;
        padding-bottom: 4px;
      }
}

@media screen and (min-width: 769px) {
    .content {
        font-size: 12px;
        letter-spacing: 0.1px;
        margin-left: 8px;
      }
      
      .divContent p {
        font-size: 12px;
        padding-bottom: 4px;
      }
}

@media screen and (min-width: 920px) {
    .content {
        font-size: 12px;
        letter-spacing: 0.1px;
        margin-left: 8px;
      }
      
      .divContent p {
        font-size: 12px;
        padding-bottom: 4px;
      }
}

@media screen and (min-width:1400px) {
    .content {
        font-size: 12px;
        letter-spacing: 0.1px;
        margin-left: 28px;
      }
      
      .divContent p {
        font-size: 12px;
        padding-bottom: 4px;
      }
}