.detailDiv {
  background-color: #f5f5f5;
}

.imageDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  padding: 30px;
  overflow: hidden;
}

.imageSubdiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  overflow: hidden;
}

.imageDiv > img {
  height: 460px;
  width: 700px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  object-fit: cover;
}

.imageSubdiv img {
  height: 220px;
  width: 350px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  object-fit: cover;
}

.completeDiv {
  display: flex;
  justify-content: center;
  column-gap: 10%;
  margin: 0 20% 10% 20%;
}

.divIcon {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10%;
}

.divIcon > img {
  height: 50px;
  width: 50px;
  background-color: #d9defd;
  padding: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.h1Judul {
  color: #687eff;
  text-align: center;
  font-family: Poppins;
  text-transform: uppercase;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.1px;
  padding: 3px 30px;
  background-color: #d9defd;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
}

.divDesc > h3 {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.divDesc > P {
  color: #646363;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.32px;
  width: 400px;
  word-wrap: break-word;
  text-align: justify;
}

.divPrice {
  background: rgba(104, 126, 255, 0.5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 30px;
}

.divPrice > h1 {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}

.divPrice > p {
  color: #646363;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.32px;
  width: 300px;
  word-wrap: break-word;
  text-align: justify;
}

.mapsLaundry > iframe {
  margin-top: 20px;
  width: 600px;
  height: 250px;
  border: none;
}

.leftPrice {
  float: left;
}

.rightPrice {
  float: right;
}

@media screen and (max-width: 769px) {
  .navDetail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 17px 0 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }

  .linkNavDetP {
    color: #687eff;
    font-size: 17px;
    font-weight: 600;
  }

  .linkNavDet {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
  }

  .ArrowDetail {
    width: 35px;
    height: 35px;
  }

  .LogoNavDetail {
    width: 70px;
  }
  .Location-TopL {
    position: absolute;
    left: 40px;
  }

  .imgHomeHP {
    position: absolute;
    top: 40px;
    left: 15px;
    width: 22px;
    height: 22px;
  }

  .imageDiv {
    column-gap: 10px;
    padding: 10px;
  }

  .imageSubdiv {
    row-gap: 10px;
  }

  .imageDiv > img {
    height: 234px;
    width: 360px;
  }

  .imageSubdiv img {
    height: 114px;
    width: 185px;
  }

  .completeDiv {
    column-gap: 10%;
    margin: 0 20% 10% 20%;
  }

  .divIcon {
    padding: 5px 0;
  }

  .divIcon > img {
    height: 35px;
    width: 35px;
    padding: 5px;
  }

  .h1Judul {
    font-size: 24px;
    padding: 3px 20px;
  }

  .divDesc {
    margin: 6px 0;
  }

  .divDesc > h3 {
    color: #000;
    font-size: 14px;
    font-weight: 700;
  }

  .divDesc > P {
    font-size: 12px;
    letter-spacing: 0.32px;
    width: 300px;
  }

  .divPrice {
    padding: 30px;
  }

  .divPrice > h1 {
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
  }

  .divPrice > p {
    font-size: 8px;
    letter-spacing: 0px;
    width: 160px;
    padding: 4px 0;
  }

  .divPrice > h4 {
    font-size: 12px;
    padding-left: 4px 0;
  }

  .mapsLaundry > iframe {
    margin-top: 20px;
    width: 300px;
    height: 150px;
  }
}

@media screen and (max-width: 576px) {
  .navDetail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 17px 0 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }

  .linkNavDetP {
    color: #687eff;
    font-size: 14px;
    font-weight: 600;
  }

  .ArrowDetail {
    width: 25px;
    height: 25px;
  }

  .LogoNavDetail {
    width: 50px;
  }
  .Location-TopL {
    position: absolute;
    left: 40px;
  }

  .imgHomeHP {
    position: absolute;
    top: 25px;
    left: 15px;
    width: 22px;
    height: 22px;
  }

  .imageDiv {
    column-gap: 10px;
    padding: 10px;
  }

  .imageSubdiv {
    row-gap: 10px;
  }

  .imageDiv > img {
    height: 154px;
    width: 234px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .imageSubdiv img {
    height: 73.4px;
    width: 117px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .completeDiv {
    column-gap: 10%;
    margin: 0 5% 10% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .divIcon {
    padding: 5px 0;
  }

  .divIcon > img {
    height: 15px;
    width: 15px;
    padding: 5px;
  }

  .h1Judul {
    font-size: 16px;
    padding: 3px 10px;
  }

  .divDesc {
    margin: 5px 0;
    min-width: 300px;
  }

  .divDesc > h3 {
    color: #000;
    font-size: 10px;
    font-weight: 700;
  }

  .divDesc > P {
    font-size: 8px;
    letter-spacing: 0.32px;
    width: 100%;
  }

  .divPrice {
    padding: 10px;
    width: 250px;
    margin-top: 20px;
  }

  .divPrice > h1 {
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
  }

  .divPrice > h4 {
    font-size: 10px;
    padding: 2px 0;
  }

  .divPrice > p {
    font-size: 8px;
    letter-spacing: 0.32px;
    width: 100%;
    padding: 2px 0;
  }

  .mapsLaundry > iframe {
    display: none;
  }

  .mapsLaundryHP2 {
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 100px;
    border: none;
  }
}

@media screen and (min-width: 576px) {
  .mapsLaundryHP {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .navDetail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 17px 0 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }

  .linkNavDet {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
  }

  .linkNavDetP {
    color: #687eff;
    font-size: 20px;
    font-weight: 600;
  }

  .ArrowDetail {
    width: 55px;
    height: 55px;
  }

  .LogoNavDetail {
    width: 90px;
  }
  .Location-TopL {
    position: absolute;
    left: 55px;
  }

  .imgHomeHP {
    position: absolute;
    top: 47px;
    left: 15px;
    width: 35x;
    height: 35px;
  }

  .imageDiv {
    column-gap: 12px;
    padding: 12px;
  }

  .imageSubdiv {
    row-gap: 12px;
  }

  .imageDiv > img {
    height: 299px;
    width: 455px;
  }

  .imageSubdiv img {
    height: 143px;
    width: 227.5px;
  }

  .completeDiv {
    column-gap: 10%;
    margin: 0 15% 10% 20%;
  }

  .divIcon {
    padding: 7px 0;
  }

  .divIcon > img {
    height: 40px;
    width: 40px;
  }

  .h1Judul {
    font-size: 30px;
    padding: 3px 20px;
  }

  .divDesc {
    margin: 7px 0;
  }

  .divDesc > h3 {
    color: #000;
    font-size: 16px;
    font-weight: 700;
  }

  .divDesc > P {
    font-size: 13px;
    letter-spacing: 0.32px;
    width: 350px;
  }

  .divPrice {
    padding: 30px;
  }

  .divPrice > h1 {
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
  }

  .divPrice > p {
    font-size: 10px;
    letter-spacing: 0px;
    width: 200px;
    padding: 5px 0;
  }

  .divPrice > h4 {
    padding: 4px 0;
  }

  .mapsLaundry > iframe {
    margin-top: 20px;
    width: 350px;
    height: 180px;
  }

  .mapsLaundryHP {
    display: none;
  }
}

@media screen and (min-width: 920px) {
  .navDetail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 25px 0 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }

  .linkNavDetP {
    color: #687eff;
    font-size: 25px;
    font-weight: 600;
  }

  .ArrowDetail {
    width: 70px;
    height: 70px;
  }

  .LogoNavDetail {
    width: 120px;
  }

  .imageDiv {
    column-gap: 12px;
    padding: 12px;
  }

  .imageSubdiv {
    row-gap: 12px;
  }

  .imageDiv > img {
    height: 358.8px;
    width: 546px;
  }

  .imageSubdiv img {
    height: 171.6px;
    width: 273px;
  }

  .completeDiv {
    column-gap: 10%;
    margin: 0 15% 10% 20%;
  }

  .divIcon {
    padding: 7px 0 7px 25px;
  }

  .divIcon > img {
    height: 40px;
    width: 40px;
  }

  .h1Judul {
    font-size: 36px;
    padding: 3px 20px;
  }
  .divDesc {
    margin: 10px 0;
  }
  .divDesc > h3 {
    color: #000;
    font-size: 20px;
    font-weight: 700;
  }

  .divDesc > P {
    font-size: 15px;
    letter-spacing: 0.32px;
    width: 400px;
  }

  .divPrice {
    padding: 30px;
  }

  .divPrice > h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
  }

  .divPrice > p {
    font-size: 12px;
    letter-spacing: 0.32px;
    width: 250px;
  }

  .divPrice > h4 {
    font-size: 16px;
    padding-left: 5px;
    padding: 5px 0;
  }

  .mapsLaundry > iframe {
    margin-top: 20px;
    width: 400px;
    height: 220px;
  }
}
@media screen and (min-width: 1400px) {
  .Location-TopL {
    position: absolute;
    left: 55px;
  }
  .linkNavDet {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navDetail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 30px 0 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }

  .linkNavDetP {
    color: #687eff;
    font-size: 30px;
    font-weight: 600;
  }

  .imgHomeHP {
    position: absolute;
    top: 57px;
    left: 15px;
    width: 45x;
    height: 45px;
  }
}

@media screen and (min-width: 1270px) {
  .content{
    margin: 0;
  }
  .ArrowDetail {
    width: 70px;
    height: 70px;
  }

  .LogoNavDetail {
    width: 140px;
  }

  .imageDiv {
    column-gap: 30px;
    padding: 30px;
  }

  .imageSubdiv {
    row-gap: 20px;
  }

  .imageDiv > img {
    height: 460px;
    width: 700px;
  }

  .imageSubdiv img {
    height: 220px;
    width: 350px;
  }

  .completeDiv {
    column-gap: 10%;
    margin: 0 20% 10% 20%;
  }

  .divIcon {
    padding: 10px 0 10px 30px;
  }

  .divIcon > img {
    height: 50px;
    width: 50px;
  }

  .h1Judul {
    color: #687eff;
    font-size: 48px;
    padding: 3px 30px;
  }

  .divDesc {
    margin: 10px 0;
  }

  .divDesc > h3 {
    font-size: 20px;
  }

  .divDesc > P {
    font-size: 16px;
    width: 600px;
  }

  .divPrice {
    padding: 30px;
    row-gap: 10px;
  }

  .divPrice > h1 {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }

  .divPrice > p {
    font-size: 14px;
    width: 300px;
    padding: 5px 0;
  }

  .divPrice > h4 {
    font-size: 16px;
    padding-left: 5px;
    padding: 5px 0;
  }

  .mapsLaundry > iframe {
    margin-top: 20px;
    width: 600px;
    height: 250px;
  }
}
