#OurTeam {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
}

#OurTeam h1 {
  color: #555;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

#OurTeam h4 {
  color: #687eff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.8px;
  margin: 0;
}

.div-ourTeam {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 70px;
  row-gap: 120px;
}

.div-ourTeam img {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 254px;
  height: 333px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media screen and (max-width: 769px) {
  #OurTeam {
    row-gap: 10px;
  }

  #OurTeam h1 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
  }

  #OurTeam h4 {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.8px;
    margin: 0;
  }

  .div-ourTeam {
    column-gap: 80px;
    row-gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .div-ourTeam img {
    border-radius: 10px;
    width: 127px;
    height: 166.5px;
  }
}

@media screen and (max-width: 576px) {
  #OurTeam {
    row-gap: 10px;
  }

  #OurTeam h1 {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
  }

  #OurTeam h4 {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.8px;
    margin: 0;
  }

  .div-ourTeam {
    column-gap: 40px;
    row-gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .div-ourTeam img {
    border-radius: 10px;
    width: 84.7px;
    height: 111px;
  }
}

@media screen and (min-width: 769px) {
  #OurTeam {
    row-gap: 10px;
  }

  #OurTeam h1 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
  }

  #OurTeam h4 {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.8px;
    margin: 0;
  }

  .div-ourTeam {
    column-gap: 60px;
    row-gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .div-ourTeam img {
    border-radius: 10px;
    width: 127px;
    height: 166.5px;
  }
}

@media screen and (min-width: 920px) {
  #OurTeam {
    row-gap: 10px;
  }

  #OurTeam h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
  }

  #OurTeam h4 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.8px;
    margin: 0;
  }

  .div-ourTeam {
    column-gap: 50px;
    row-gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .div-ourTeam img {
    border-radius: 10px;
    width: 177.8px;
    height: 233.1px;
  }
}

@media screen and (min-width: 1270px) {
  #OurTeam {
    row-gap: 10px;
  }

  #OurTeam h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
  }

  #OurTeam h4 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.8px;
    margin: 0;
  }

  .div-ourTeam {
    column-gap: 60px;
    row-gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .div-ourTeam img {
    border-radius: 10px;
    width: 254px;
    height: 333px;
  }
}
