@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap");

/* Import Leaflet CSS */
@import "~leaflet/dist/leaflet.css";
@import "./style/Leaflet.css";

* {
  font-family: "Work sans", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.react-datepicker-wrapper {
  width: 100% !important;
  border: none !important;
}

@media screen and (max-width: 640px) {
  .react-datepicker__month-container {
    font-size: small !important;
  }
}

.react-datepicker__input-container input {
  width: 100% !important;
}

.react-datepicker__month-container {
  width: 100% !important;
  font-size: medium !important;
}

.react-datepicker__header {
  background-color: #ffffff !important;
  border-bottom: none !important;
}

.react-datepicker__navigation {
  top: 12px !important;
}

.react-datepicker__navigation-icon {
  border-color: #000 !important;
}

.react-datepicker__month {
  display: flex !important;
  flex-direction: column !important;
  gap: 8px !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}

.react-datepicker__day-names {
  display: flex !important;
  justify-content: space-between !important;
  width: 100% !important;
}

.react-datepicker__month {
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
}

.react-datepicker__week {
  display: flex !important;
  justify-content: space-between !important;
  width: 100% !important;
}

input:-webkit-autofill {
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
}

@layer utilities {
  .fix-autofill:-webkit-autofill,
  .fix-autofill:-webkit-autofill:hover,
  .fix-autofill:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
    box-shadow: 0 0 0px 1000px #ffffff inset;
    -webkit-text-fill-color: #111827;
    caret-color: #111827;
    transition: background-color 9999s ease-out 0s;
  }

  .dark .fix-autofill:-webkit-autofill,
  .dark .fix-autofill:-webkit-autofill:hover,
  .dark .fix-autofill:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #1e1e1e inset;
    box-shadow: 0 0 0px 1000px #1e1e1e inset;
    -webkit-text-fill-color: #e5e5e5;
    caret-color: #e5e5e5;
  }
}

@layer base {
  .react-datepicker,
  .react-datepicker__month-container,
  .react-datepicker__header {
    border: 0 !important;
    box-shadow: none !important;
  }

  .dark .react-datepicker__header {
    background-color: #1e1e1e !important;
  }

  .react-datepicker__day,
  .react-datepicker__day:hover,
  .react-datepicker__day--selected,
  .react-datepicker__day--keyboard-selected,
  .react-datepicker__header,
  .react-datepicker__navigation,
  .react-datepicker__navigation:hover {
    transition: none !important;
  }

  .dark .react-datepicker,
  .dark .react-datepicker__month-container {
    background-color: #1e1e1e !important;
    color: #e5e5e5 !important;
  }
  .dark .react-datepicker__day--selected,
  .dark .react-datepicker__day--keyboard-selected {
    background-color: #687eff !important;
    color: #fff !important;
  }

  .react-datepicker__current-month {
    color: #111827 !important;
    font-family: "Montserrat", sans-serif !important;
    font-size: 1.25rem !important;
    font-weight: 800 !important;
    text-transform: none;
  }

  .dark .react-datepicker__current-month {
    color: #e5e5e5 !important;
  }
}


